@using HealthProject.Entity

@model SendMailModel

<div class="page-section">
    <div class="container">
        <h1 class="text-center wow fadeInUp">Randevu Al</h1>

        <form class="main-form" asp-controller="Home" asp-action="ContactFormPost">
            <div class="row mt-5 ">
                <div class="col-12 col-sm-6 py-2 wow fadeInLeft">
                    <input type="text" class="form-control" asp-for="FullName" placeholder="Adınız">
                </div>
                <div class="col-12 col-sm-6 py-2 wow fadeInRight">
                    <input type="text" class="form-control" asp-for="SendEmail" placeholder="Email Adresiniz">
                </div>
                <div class="col-12 col-sm-6 py-2 wow fadeInLeft" data-wow-delay="300ms">
                    <input type="datetime-local" class="form-control" asp-for="RandevuDate">
                </div>
                <div class="col-12 col-sm-6 py-2 wow fadeInRight" data-wow-delay="300ms">
                    <select name="departement" id="departement" class="custom-select" asp-for="Department">
                        <option value="general">General Health</option>
                        <option value="cardiology">Cardiology</option>
                        <option value="dental">Dental</option>
                        <option value="neurology">Neurology</option>
                        <option value="orthopaedics">Orthopaedics</option>
                    </select>
                </div>
                <div class="col-12 py-2 wow fadeInUp" data-wow-delay="300ms">
                    <input type="text" class="form-control" asp-for="Phone" placeholder="Numaranız">
                </div>
                <div class="col-12 py-2 wow fadeInUp" data-wow-delay="300ms">
                    <textarea asp-for="Message" id="message" class="form-control" rows="6" placeholder="Mesajınız"></textarea>
                </div>
            </div>

            <button type="submit" class="btn btn-primary mt-3 wow zoomIn">Gönder</button>
        </form>
    </div>
</div> <!-- .page-section -->
