<div class="page-banner overlay-dark bg-image" style="background-image: url(/img/bg_image_1.jpg);">

    <div class="banner-section">
        <div class="container text-center wow fadeInUp">
            <nav aria-label="Breadcrumb">

            </nav>
            <h1 class="font-weight-normal">Health</h1>
        </div> <!-- .container -->
    </div> <!-- .banner-section -->
</div> <!-- .page-banner -->
