<div class="page-hero bg-image overlay-dark" style="background-image: url(/img/bg_image_1.jpg);">
    <div class="hero-section">
        <div class="container text-center wow zoomIn">
            <span class="subhead">İhtiyacınız olan herşey burada!</span>
            <h1 class="display-4">Doktor mu arıyorsunuz?</h1>
            <a href="/Home/Doctors" class="btn btn-primary">Hadi Başlayalım</a>
        </div>
    </div>
</div>
