
@model List<ResultDoctorDTO>
<!-- doktorlar -->
<div class="page-section">
    <div class="container">
        <h1 class="text-center mb-5 wow fadeInUp">Doktorlarımız</h1>

        <div class="owl-carousel wow fadeInUp" id="doctorSlideshow">
            @foreach (var item in Model)
            {
                <div class="item">
                    <div class="card-doctor">
                        <div class="header">
                            <img src="~/uploads/@item.ImagePath" alt="">
                        </div>
                        <div class="body">
                            <p class="text-xl mb-0">@item.Name</p>
                            <span class="text-sm text-grey">@item.Branch</span>
                        </div>
                    </div>
                </div>
            }
         

          
        </div>
    </div>
</div>

